*{
  padding: 0;
  margin: 0;
}
h1{
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 15px;
  margin: 0;
}

form input{
  margin-top: 15px;
  background-color: pink;
  
}
.login{
  background-color: rgb(67, 138, 231);
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
}
button{
  margin: 15px;
  border-radius: 10%;
  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
}